<<<<<<< 658503497a3618e689f24305b0ef83a1b0890f91
@import "view_categories";
=======
.box-body {
  position: relative;
  .categories-controller {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
>>>>>>> show list category at beginning
