<aside class="sidebar">
  <ul class="main-bar">
      <!-- Your Logo Or Site Name -->
    <!-- Search -->
    <li class="main-search">
        <form action="#">
            <input type="text" class="form-control search-input" placeholder="Search here...">
        </form>
    </li>
        <li>
        <a href="#">- Categories</a>
    </li>
    <li>
        <a href="#">- Products</a>
    </li>
    <li>
        <a href="#">- Bills</a>
    </li>
    <li>
        <a href="#">- Insights</a>
        <ul class = "child-bar">
          <li>
            Products
          </li>
          <li>
            Bills
          </li>
          <li>
            Finance
          </li>
        </ul>
    </li>
  </ul>
</aside>