<aside class="main-sidebar" style = "padding-top: 0px">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview menu-open">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Categories</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Bridal Dress</a></li>
                <li class=""><a href="#"><i class="fa fa-circle-o"></i> Suit</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Bridal Dress</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Bridal Dress</a></li>
              </ul>
            </li>
            <li>
              <a href="pages/widgets.html">
                <i class="fa fa-th"></i> <span>Bill</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green">new</small>
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Insights</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o text-red"></i> Products</a></li>
                <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o text-yellow"></i> Bills</a></li>
                <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o text-aqua"></i> Finance</a></li>
              </ul>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>